@font-face {
  font-family: "Circe";
  src: url("Circe-Light.eot");
  src: local("Circe Light"), local("Circe-Light"),
    url("../fonts/Circe-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Circe-Light.woff2") format("woff2"),
    url("../fonts/Circe-Light.woff") format("woff"),
    url("../fonts/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("Circe-ExtraBold.eot");
  src: local("Circe Extra Bold"), local("Circe-ExtraBold"),
    url("../fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Circe-ExtraBold.woff2") format("woff2"),
    url("../fonts/Circe-ExtraBold.woff") format("woff"),
    url("../fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("Circe-Thin.eot");
  src: local("Circe Thin"), local("Circe-Thin"),
    url("../fonts/Circe-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Circe-Thin.woff2") format("woff2"),
    url("../fonts/Circe-Thin.woff") format("woff"),
    url("../fonts/Circe-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("Circe-Regular.eot");
  src: local("Circe"), local("Circe-Regular"),
    url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Circe-Regular.woff2") format("woff2"),
    url("../fonts/Circe-Regular.woff") format("woff"),
    url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"),
    url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Circe-Bold.woff2") format("woff2"),
    url("../fonts/Circe-Bold.woff") format("woff"),
    url("../fonts/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bellota";
  src: url("Bellota-Regular.eot");
  src: local("Bellota Regular"), local("Bellota-Regular"),
    url("../fonts/Bellota-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Bellota-Regular.woff2") format("woff2"),
    url("../fonts/Bellota-Regular.woff") format("woff"),
    url("../fonts/Bellota-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
